@model IEnumerable<MvcMovie.Models.Teams>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Teams</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.displayName)
            <th>
                @Html.DisplayNameFor(model => model.wins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.losses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.winPct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.streak)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.displayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.losses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.winPct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.streak)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
            
        }
    </tbody>
</table>
